div:hover{
    background-color:gold;
}

.topContainer{
    background-color: aqua;
    height: 200px;
    width: 200px;
}

.middleContainer{
    background-color: burlywood;
    height: 200px;
    width: 200px;
}

.bottomContainer{
    background-color:chocolate;
    height: 200px;
    width: 200px;
}
